<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/c5739d22-33e0-42c4-b6ba-f5c2371773f8/resourceGroups/tallermultiplataforma2/providers/Microsoft.Web/sites/blacarapi</ResourceId>
    <ResourceGroup>tallermultiplataforma2</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://blacarapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>7eb10d54-1dc7-4681-9fa5-0112d533ca5b</ProjectGuid>
    <PublishUrl>https://blacarapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$blacarapi</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>